@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;


  /* blue */
 --primary : #0d0452; 
 /* gold */
 --accent:#daa520;
 /* while  */
--white:#ffff;
 /* natural - black */
 --neutral:#0000;




}

